<footer>
    <ul class="nav footer ul-footer" style="font-size: 0.75rem; font-weight: 500">
        <li class="nav-item">
            <a class="nav-link anchor" href="#">Help</a>
        </li>
        <li class="nav-item">
            <a class="nav-link anchor" href="#">Status</a>
        </li>
        <li class="nav-item">
            <a class="nav-link anchor" href="#">Writers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link anchor" href="#">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link anchor" href="#">Careers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link anchor" href="#">Privacy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link anchor" href="#">Terms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link anchor" href="#">About</a>
        </li>
    </ul>
</footer>